.btn {
  border: 0;
  height: 1.8rem;
  min-width: 3rem; }

.triangle {
  width: 0;
  height: 0; }

.triangle.up {
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid red; }

.triangle.down {
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid red; }

.triangle.left {
  border-top: 50px solid transparent;
  border-right: 100px solid red;
  border-bottom: 50px solid transparent; }

.triangle.right {
  border-top: 50px solid transparent;
  border-left: 100px solid red;
  border-bottom: 50px solid transparent; }

.grid {
  width: 100%;
  display: block;
  padding: 0; }

.grid.wide {
  max-width: 1200px;
  margin: 0 auto; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px; }

.row.no-gutters {
  margin-left: 0;
  margin-right: 0; }

.col {
  padding-left: 4px;
  padding-right: 4px; }

.row.no-gutters .col {
  padding-left: 0;
  padding-right: 0; }

.c-0 {
  display: none; }

.c-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.c-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.c-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.c-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.c-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.c-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.c-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.c-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.c-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.c-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.c-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.c-12 {
  flex: 0 0 100%;
  max-width: 100%; }

.c-o-1 {
  margin-left: 8.33333%; }

.c-o-2 {
  margin-left: 16.66667%; }

.c-o-3 {
  margin-left: 25%; }

.c-o-4 {
  margin-left: 33.33333%; }

.c-o-5 {
  margin-left: 41.66667%; }

.c-o-6 {
  margin-left: 50%; }

.c-o-7 {
  margin-left: 58.33333%; }

.c-o-8 {
  margin-left: 66.66667%; }

.c-o-9 {
  margin-left: 75%; }

.c-o-10 {
  margin-left: 83.33333%; }

.c-o-11 {
  margin-left: 91.66667%; }

/* >= Tablet */
@media (min-width: 740px) {
  .row {
    margin-left: -8px;
    margin-right: -8px; }
  .col {
    padding-left: 8px;
    padding-right: 8px; }
  .m-0 {
    display: none; }
  .m-1,
  .m-2,
  .m-3,
  .m-4,
  .m-5,
  .m-6,
  .m-7,
  .m-8,
  .m-9,
  .m-10,
  .m-11,
  .m-12 {
    display: flex; }
  .m-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .m-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .m-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .m-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .m-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .m-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .m-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .m-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .m-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .m-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .m-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .m-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .m-o-1 {
    margin-left: 8.33333%; }
  .m-o-2 {
    margin-left: 16.66667%; }
  .m-o-3 {
    margin-left: 25%; }
  .m-o-4 {
    margin-left: 33.33333%; }
  .m-o-5 {
    margin-left: 41.66667%; }
  .m-o-6 {
    margin-left: 50%; }
  .m-o-7 {
    margin-left: 58.33333%; }
  .m-o-8 {
    margin-left: 66.66667%; }
  .m-o-9 {
    margin-left: 75%; }
  .m-o-10 {
    margin-left: 83.33333%; }
  .m-o-11 {
    margin-left: 91.66667%; } }

/* PC medium resolution > */
@media (min-width: 1113px) {
  .row {
    margin-left: -12px;
    margin-right: -12px; }
  .row.sm-gutter {
    margin-left: -5px;
    margin-right: -5px; }
  .col {
    padding-left: 12px;
    padding-right: 12px; }
  .row.sm-gutter .col {
    padding-left: 5px;
    padding-right: 5px; }
  .l-0 {
    display: none; }
  .l-1,
  .l-2,
  .l-2-4,
  .l-3,
  .l-4,
  .l-5,
  .l-6,
  .l-7,
  .l-8,
  .l-9,
  .l-10,
  .l-11,
  .l-12 {
    display: block; }
  .l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .l-2-4 {
    flex: 0 0 20%;
    max-width: 20%; }
  .l-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .l-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .l-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .l-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .l-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .l-o-1 {
    margin-left: 8.33333%; }
  .l-o-2 {
    margin-left: 16.66667%; }
  .l-o-3 {
    margin-left: 25%; }
  .l-o-4 {
    margin-left: 33.33333%; }
  .l-o-5 {
    margin-left: 41.66667%; }
  .l-o-6 {
    margin-left: 50%; }
  .l-o-7 {
    margin-left: 58.33333%; }
  .l-o-8 {
    margin-left: 66.66667%; }
  .l-o-9 {
    margin-left: 75%; }
  .l-o-10 {
    margin-left: 83.33333%; }
  .l-o-11 {
    margin-left: 91.66667%; } }

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
  .wide {
    width: 644px; } }

/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
  .wide {
    width: 984px; }
  .wide .row {
    margin-left: -12px;
    margin-right: -12px; }
  .wide .row.sm-gutter {
    margin-left: -5px;
    margin-right: -5px; }
  .wide .col {
    padding-left: 12px;
    padding-right: 12px; }
  .wide .row.sm-gutter .col {
    padding-left: 5px;
    padding-right: 5px; }
  .wide .l-0 {
    display: none; }
  .wide .l-1,
  .wide .l-2,
  .wide .l-2-4,
  .wide .l-3,
  .wide .l-4,
  .wide .l-5,
  .wide .l-6,
  .wide .l-7,
  .wide .l-8,
  .wide .l-9,
  .wide .l-10,
  .wide .l-11,
  .wide .l-12 {
    display: block; }
  .wide .l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .wide .l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .wide .l-2-4 {
    flex: 0 0 20%;
    max-width: 20%; }
  .wide .l-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .wide .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .wide .l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .wide .l-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .wide .l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .wide .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .wide .l-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .wide .l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .wide .l-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .wide .l-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .wide .l-o-1 {
    margin-left: 8.33333%; }
  .wide .l-o-2 {
    margin-left: 16.66667%; }
  .wide .l-o-3 {
    margin-left: 25%; }
  .wide .l-o-4 {
    margin-left: 33.33333%; }
  .wide .l-o-5 {
    margin-left: 41.66667%; }
  .wide .l-o-6 {
    margin-left: 50%; }
  .wide .l-o-7 {
    margin-left: 58.33333%; }
  .wide .l-o-8 {
    margin-left: 66.66667%; }
  .wide .l-o-9 {
    margin-left: 75%; }
  .wide .l-o-10 {
    margin-left: 83.33333%; }
  .wide .l-o-11 {
    margin-left: 91.66667%; } }

::-webkit-scrollbar {
  width: .7rem;
  color: red;
  border-radius: 1rem; }

::-webkit-scrollbar-track {
  background: white;
  border-radius: 1rem; }

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #909090; }

::-webkit-scrollbar-thumb:hover {
  background: #d6b26f; }

html {
  font-size: 62.5%;
  font-family: 'Baloo Paaji 2', cursive; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.not-found {
  height: calc(100vh - 6rem);
  display: flex;
  flex-direction: column; }
  .not-found-background {
    height: 70vh;
    flex: 1; }
    .not-found-background .col {
      display: flex; }
      .not-found-background .col img {
        width: 30rem;
        margin: auto; }
  .not-found-content {
    padding-bottom: 7rem; }
    .not-found-content .col span {
      display: block;
      text-align: center;
      font-size: 1.8rem;
      color: red; }

.message {
  width: 40rem;
  max-height: 16rem;
  position: fixed;
  z-index: 100;
  left: 50%;
  transform: translate3D(-20rem, -18rem, 0);
  top: 20px;
  background-color: #f6f6f6;
  border-radius: 1rem;
  box-shadow: 0 0.1rem 1.5rem 0.5rem rgba(0, 0, 0, 0.466);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch; }
  .message-show {
    animation: showMessage linear .5s;
    transform: translate3D(-20rem, 0, 0); }

@keyframes showMessage {
  from {
    opacity: 0;
    transform: translate3D(-20rem, -18rem, 0); }
  to {
    opacity: 1;
    transform: translate3D(-20rem, 0, 0); } }
  .message-hidden {
    animation: hiddenMessage linear .5s;
    transform: translate3D(-20rem, -18rem, 0); }

@keyframes hiddenMessage {
  from {
    opacity: 1;
    transform: translate3D(-20rem, 0, 0); }
  to {
    opacity: 0;
    transform: translate3D(-20rem, -18rem, 0); } }
  .message-title {
    width: 100%;
    min-height: 3rem;
    line-height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .3rem;
    background-color: #9c58c8; }
    .message-title p {
      font-size: 1.8rem;
      color: white; }
  .message-content {
    min-height: 4rem;
    max-height: 6.8rem;
    display: flex;
    margin-bottom: 4rem;
    overflow: hidden; }
    .message-content p {
      font-size: 1.7rem;
      color: #5c5c5c;
      margin: auto; }
  .message-close-btn {
    width: 10rem;
    height: 3rem;
    font-size: 1.6rem;
    color: #f6f6f6;
    border: 0;
    background-color: #a421a8;
    border-radius: .25rem;
    position: absolute;
    bottom: 1rem;
    right: 1rem; }
    .message-close-btn:hover {
      background-color: #8c1d90;
      cursor: pointer; }

.header-layout {
  height: 6rem; }

.header {
  height: 60px;
  background-color: #7a00cc;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  border: .1rem solid #ab2cff; }
  .header a {
    text-decoration: none;
    color: #f6f6f6; }
  .header .header__border-left {
    top: 100%;
    left: -.1rem; }
  .header .header__border-right {
    top: 100%;
    right: -.1rem; }
  .header .header__border-left,
  .header .header__border-right {
    width: 1rem;
    height: 1rem;
    overflow: hidden;
    position: absolute; }
  .header .header__border-left:before,
  .header .header__border-right:before {
    content: "";
    display: block;
    width: 200%;
    height: 200%;
    position: absolute;
    border-radius: 50%; }
  .header .header__border-left:before {
    top: 0;
    left: 0;
    box-shadow: -0.5rem -0.5rem 0 0 #7a00cc; }
  .header .header__border-right:before {
    top: 0;
    right: 0;
    box-shadow: 0.5rem -0.5rem 0 0 #7a00cc; }

.header-container.grid.wide {
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .header-container.grid.wide .row {
    display: flex;
    justify-content: space-between;
    width: 100%; }
  .header-container.grid.wide .header-container__left {
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 100%; }
    .header-container.grid.wide .header-container__left .header-container-left__search-bar-icon {
      height: 4rem;
      width: 4rem;
      font-size: 2.8rem;
      color: #adf5ff;
      background-color: #6500a8;
      margin-left: 3rem;
      padding: .8rem;
      border-radius: 50%;
      cursor: pointer; }

@keyframes showSearchBar {
  from {
    opacity: 0;
    transform: translateX(-7rem); }
  to {
    opacity: 1;
    transform: translateX(0); } }
    .header-container.grid.wide .header-container__left .header-container-left__search-bar {
      height: 3.6rem;
      margin-left: 3rem;
      border-radius: 2rem;
      border: 0;
      outline: none;
      padding: 0 1rem;
      font-size: 1.4rem;
      font-weight: 600;
      background-color: #ebebeb;
      animation: showSearchBar linear 300ms;
      display: none;
      cursor: pointer; }
      .header-container.grid.wide .header-container__left .header-container-left__search-bar:focus {
        box-shadow: 0 0 .3rem .3rem #be5bff; }
  .header-container.grid.wide a {
    display: flex;
    align-items: center; }
    .header-container.grid.wide a .header-container__logo {
      color: whitesmoke;
      font-size: 3rem;
      padding: 1.4rem; }
    .header-container.grid.wide a .header-container__logo-title {
      color: #f6f6f6;
      font-size: 1.6rem;
      letter-spacing: 3px; }
  .header-container.grid.wide .header-container__right {
    display: flex;
    align-items: center; }
    .header-container.grid.wide .header-container__right .header-account {
      display: block;
      height: 3.6rem;
      min-width: 10rem;
      max-width: 30rem; }
      .header-container.grid.wide .header-container__right .header-account__container {
        height: 100%;
        background-color: #f6f6f6;
        border-radius: 10rem;
        display: flex;
        align-items: center;
        position: relative; }
        .header-container.grid.wide .header-container__right .header-account__container:hover .header-account__container-hover {
          display: flex; }
        .header-container.grid.wide .header-container__right .header-account__container-name {
          max-width: 25rem;
          font-size: 1.4rem;
          line-height: 1.4rem;
          color: #5c5c5c;
          padding-left: 1.5rem;
          padding-right: 4.6rem;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center; }
        .header-container.grid.wide .header-container__right .header-account__container-avatar-img {
          height: 3.6rem;
          width: 3.6rem;
          position: absolute;
          right: 0;
          top: 0;
          border-radius: 50%;
          border: 0.1rem solid #cccccc;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat; }
        .header-container.grid.wide .header-container__right .header-account__container-hover {
          position: absolute;
          top: 100%;
          right: 1rem;
          transform: translateY(1.2rem);
          list-style: none;
          display: none;
          flex-direction: column; }
          .header-container.grid.wide .header-container__right .header-account__container-hover-item:not(.header-account__container-hover-item:first-child) {
            margin-top: 1.2rem; }
          .header-container.grid.wide .header-container__right .header-account__container-hover-item {
            width: 18rem;
            height: 3rem;
            background-color: #b966f0d0;
            border-radius: .5rem;
            box-shadow: 0 0.2rem 0.6rem 0.2rem #7c7c7c;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            animation: showItem linear .1s; }
            .header-container.grid.wide .header-container__right .header-account__container-hover-item:hover {
              box-shadow: 0 0.2rem 0.6rem 0.2rem #d226d4; }
            .header-container.grid.wide .header-container__right .header-account__container-hover-item:hover .header-account__container-hover-item-container__arrow {
              display: block; }
            .header-container.grid.wide .header-container__right .header-account__container-hover-item::before {
              content: '';
              width: 100%;
              height: 1.2rem;
              position: absolute;
              bottom: 100%; }
            .header-container.grid.wide .header-container__right .header-account__container-hover-item-container {
              color: #f6f6f6;
              align-items: center;
              justify-content: center;
              display: flex; }
              .header-container.grid.wide .header-container__right .header-account__container-hover-item-container span {
                font-size: 1.6rem;
                line-height: 2rem;
                justify-self: center; }
              .header-container.grid.wide .header-container__right .header-account__container-hover-item-container__arrow {
                position: absolute;
                font-size: 2rem;
                left: 1rem;
                display: none;
                transform: rotate(-90deg);
                animation: showArrow linear .15s; }

@keyframes showArrow {
  from {
    opacity: 0;
    transform: translateX(-1rem);
    transform: rotate(0); }
  to {
    opacity: 1;
    transform: translateX(0rem);
    transform: rotate(-90deg); } }

@keyframes showItem {
  from {
    opacity: 0;
    height: 0; }
  to {
    opacity: 1;
    height: 3rem; } }
        .header-container.grid.wide .header-container__right .header-account__container-hover::before {
          content: '';
          width: 100%;
          height: 1rem;
          position: absolute;
          bottom: 100%;
          background-color: transparent; }
    .header-container.grid.wide .header-container__right .header-container-right__account-login,
    .header-container.grid.wide .header-container__right .header-container-right__account-register {
      font-size: 1.7rem; }
    .header-container.grid.wide .header-container__right .header-container-right__account-seperate {
      border-left: 0.2rem solid #cccccc;
      height: 1.8rem;
      margin: 0 .5rem; }

.login,
.register {
  display: flex;
  justify-content: center;
  align-items: center; }
  .login .login-background,
  .register .login-background {
    height: 100vh;
    width: 100%;
    filter: blur(0.3rem);
    background-image: url("/img/login_background.jpg");
    background-position: center;
    background-size: cover; }
  .login .register-background,
  .register .register-background {
    height: 100vh;
    width: 100%;
    filter: blur(1rem);
    background-image: url("/img/register_background.jpg");
    background-position: left;
    background-size: cover; }
  .login .login-form,
  .login .register-form,
  .register .login-form,
  .register .register-form {
    width: 45rem;
    height: 50rem;
    position: absolute;
    background-color: #f6f6f6;
    border-radius: 1rem;
    box-shadow: 0 0.1rem 1rem 0.1rem rgba(0, 0, 0, 0.452); }
    .login .login-form .login-form__header,
    .login .login-form .register-form__header,
    .login .register-form .login-form__header,
    .login .register-form .register-form__header,
    .register .login-form .login-form__header,
    .register .login-form .register-form__header,
    .register .register-form .login-form__header,
    .register .register-form .register-form__header {
      height: 2.4rem;
      display: flex;
      align-items: center;
      margin: 2rem 0;
      padding-left: 1rem;
      position: relative; }
      .login .login-form .login-form__header .login-form__seperate,
      .login .login-form .login-form__header .register-form__seperate,
      .login .login-form .register-form__header .login-form__seperate,
      .login .login-form .register-form__header .register-form__seperate,
      .login .register-form .login-form__header .login-form__seperate,
      .login .register-form .login-form__header .register-form__seperate,
      .login .register-form .register-form__header .login-form__seperate,
      .login .register-form .register-form__header .register-form__seperate,
      .register .login-form .login-form__header .login-form__seperate,
      .register .login-form .login-form__header .register-form__seperate,
      .register .login-form .register-form__header .login-form__seperate,
      .register .login-form .register-form__header .register-form__seperate,
      .register .register-form .login-form__header .login-form__seperate,
      .register .register-form .login-form__header .register-form__seperate,
      .register .register-form .register-form__header .login-form__seperate,
      .register .register-form .register-form__header .register-form__seperate {
        height: 110%;
        width: 0.3rem;
        background-color: #7a00cc;
        margin-right: 0.5rem;
        position: relative;
        bottom: -0.1rem; }
      .login .login-form .login-form__header .login-form__title,
      .login .login-form .login-form__header .register-form__title,
      .login .login-form .register-form__header .login-form__title,
      .login .login-form .register-form__header .register-form__title,
      .login .register-form .login-form__header .login-form__title,
      .login .register-form .login-form__header .register-form__title,
      .login .register-form .register-form__header .login-form__title,
      .login .register-form .register-form__header .register-form__title,
      .register .login-form .login-form__header .login-form__title,
      .register .login-form .login-form__header .register-form__title,
      .register .login-form .register-form__header .login-form__title,
      .register .login-form .register-form__header .register-form__title,
      .register .register-form .login-form__header .login-form__title,
      .register .register-form .login-form__header .register-form__title,
      .register .register-form .register-form__header .login-form__title,
      .register .register-form .register-form__header .register-form__title {
        font-size: 2.2rem; }
    .login .login-form .login-form__header::after,
    .login .login-form .reigster-form__header::after,
    .login .register-form .login-form__header::after,
    .login .register-form .reigster-form__header::after,
    .register .login-form .login-form__header::after,
    .register .login-form .reigster-form__header::after,
    .register .register-form .login-form__header::after,
    .register .register-form .reigster-form__header::after {
      content: '';
      width: calc(100% - 2rem);
      border-bottom: 0.1rem solid #ccc;
      position: absolute;
      top: 140%; }
    .login .login-form .login-form__avatar,
    .login .login-form .register-form__avatar,
    .login .register-form .login-form__avatar,
    .login .register-form .register-form__avatar,
    .register .login-form .login-form__avatar,
    .register .login-form .register-form__avatar,
    .register .register-form .login-form__avatar,
    .register .register-form .register-form__avatar {
      height: 180px;
      display: flex; }
      .login .login-form .login-form__avatar-icon,
      .login .login-form .register-form__avatar-icon,
      .login .register-form .login-form__avatar-icon,
      .login .register-form .register-form__avatar-icon,
      .register .login-form .login-form__avatar-icon,
      .register .login-form .register-form__avatar-icon,
      .register .register-form .login-form__avatar-icon,
      .register .register-form .register-form__avatar-icon {
        width: 12rem;
        margin: auto;
        position: relative;
        display: flex;
        justify-content: center; }
  .login #logUsername, .login #logPassword,
  .login #regUsername, .login #regPassword, .login #regGmail, .login #regName,
  .register #logUsername,
  .register #logPassword,
  .register #regUsername,
  .register #regPassword,
  .register #regGmail,
  .register #regName {
    position: relative; }
    .login #logUsername .regUserMessage, .login #logPassword .regUserMessage,
    .login #regUsername .regUserMessage, .login #regPassword .regUserMessage, .login #regGmail .regUserMessage, .login #regName .regUserMessage,
    .register #logUsername .regUserMessage,
    .register #logPassword .regUserMessage,
    .register #regUsername .regUserMessage,
    .register #regPassword .regUserMessage,
    .register #regGmail .regUserMessage,
    .register #regName .regUserMessage {
      position: absolute;
      right: 100%;
      top: 0;
      width: 10rem;
      height: 3rem;
      background-color: red; }
    .login #logUsername input, .login #logPassword input,
    .login #regUsername input, .login #regPassword input, .login #regGmail input, .login #regName input,
    .register #logUsername input,
    .register #logPassword input,
    .register #regUsername input,
    .register #regPassword input,
    .register #regGmail input,
    .register #regName input {
      font-size: 1.6rem;
      height: 3.5rem;
      width: 85%;
      display: block;
      margin: 1rem auto;
      border: 0;
      background-color: transparent;
      border-bottom: 0.2rem solid #cccccc;
      outline: none; }
    .login #logUsername.fail input, .login #logPassword.fail input,
    .login #regUsername.fail input, .login #regPassword.fail input, .login #regGmail.fail input, .login #regName.fail input,
    .register #logUsername.fail input,
    .register #logPassword.fail input,
    .register #regUsername.fail input,
    .register #regPassword.fail input,
    .register #regGmail.fail input,
    .register #regName.fail input {
      border-color: red;
      color: red;
      position: relative; }
      .login #logUsername.fail input::placeholder, .login #logPassword.fail input::placeholder,
      .login #regUsername.fail input::placeholder, .login #regPassword.fail input::placeholder, .login #regGmail.fail input::placeholder, .login #regName.fail input::placeholder,
      .register #logUsername.fail input::placeholder,
      .register #logPassword.fail input::placeholder,
      .register #regUsername.fail input::placeholder,
      .register #regPassword.fail input::placeholder,
      .register #regGmail.fail input::placeholder,
      .register #regName.fail input::placeholder {
        color: red; }
  .login #regGmail input, .login #regName input,
  .register #regGmail input,
  .register #regName input {
    animation: inputShow linear .3s; }
  .login #regUsername, .login #regPassword,
  .register #regUsername,
  .register #regPassword {
    flex: 1; }
    .login #regUsername input, .login #regPassword input,
    .register #regUsername input,
    .register #regPassword input {
      width: 100%;
      margin: 0; }
  .login #regUsername,
  .register #regUsername {
    margin-right: 5%; }
  .login .username-and-password,
  .register .username-and-password {
    display: flex;
    width: calc(100% - 6.8rem);
    justify-content: space-between;
    margin: 1rem 3.4rem;
    animation: inputShow linear .3s; }
  .login #logUsername input, .login #logPassword input,
  .register #logUsername input,
  .register #logPassword input {
    animation: inputShow linear .3s; }
  .login .login-btn,
  .login .register-btn,
  .register .login-btn,
  .register .register-btn {
    display: block;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    height: 5rem;
    min-width: 15rem;
    background-color: #7a00cc;
    border-radius: 0.5rem;
    color: #f6f6f6;
    font-weight: bold;
    font-size: 1.8rem; }
    .login .login-btn p,
    .login .register-btn p,
    .register .login-btn p,
    .register .register-btn p {
      line-height: 5rem; }

@keyframes inputShow {
  from {
    opacity: 0;
    width: 0; }
  to {
    opacity: 1;
    width: 85%; } }

.body {
  margin: 0 auto; }
  .body__slide-show {
    height: calc(100vh - 6rem); }

.profile.grid {
  margin-top: 2rem; }
  .profile.grid .profile-container__avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .profile.grid .profile-container__avatar-container-img {
      height: 20rem;
      width: 20rem;
      margin-top: 5rem;
      border-radius: 50%;
      border: 0.2rem solid #334355;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative; }
      .profile.grid .profile-container__avatar-container-img-hover {
        display: none;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: rgba(51, 51, 51, 0.4); }
        .profile.grid .profile-container__avatar-container-img-hover i {
          font-size: 5rem;
          color: whitesmoke;
          position: absolute;
          bottom: 2rem;
          left: 50%;
          transform: translateX(-50%); }
      .profile.grid .profile-container__avatar-container-img:hover > .profile-container__avatar-container-img-hover {
        display: block;
        cursor: pointer; }
    .profile.grid .profile-container__avatar-container-name, .profile.grid .profile-container__avatar-container-gmail {
      text-align: center;
      word-wrap: break-word;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      display: -webkit-box; }
      .profile.grid .profile-container__avatar-container-name:hover, .profile.grid .profile-container__avatar-container-gmail:hover {
        -webkit-line-clamp: 10; }
    .profile.grid .profile-container__avatar-container-name {
      width: 70%;
      font-size: 1.6rem;
      line-height: 1.6rem;
      margin-top: 1.4rem; }
    .profile.grid .profile-container__avatar-container-gmail {
      margin-top: .2rem;
      width: 80%;
      opacity: .6;
      font-size: 1.4rem; }
    .profile.grid .profile-container__avatar-container-upload-avatar-input {
      display: none; }
    .profile.grid .profile-container__avatar-container-upload-avatar button {
      outline: none;
      border: 0;
      font-size: 1.4rem;
      color: #7a00cc;
      margin-top: .5rem;
      padding: .5rem 1rem;
      border: 0.1rem solid #cccccc; }
      .profile.grid .profile-container__avatar-container-upload-avatar button:hover {
        color: white;
        background-color: #9d00db;
        cursor: pointer; }
  .profile.grid .profile-container__infomation {
    border-left: 0.1rem solid #cccccc; }
    .profile.grid .profile-container__infomation-container {
      margin: 0 auto;
      width: 90%;
      height: 50rem; }
      .profile.grid .profile-container__infomation-container-title {
        max-width: 100%;
        font-size: 3rem;
        font-weight: 500;
        margin-top: 1rem;
        margin: .5rem 0 1.5rem 1rem;
        display: block; }
      .profile.grid .profile-container__infomation-container-form-change {
        margin-top: 5rem;
        display: flex;
        flex-direction: column; }
        .profile.grid .profile-container__infomation-container-form-change label {
          width: 100%;
          font-size: 1.6rem;
          display: block;
          margin-top: 2rem;
          margin-left: .5rem; }
        .profile.grid .profile-container__infomation-container-form-change input {
          font-size: 1.5rem;
          height: 3.8rem;
          width: 94%;
          padding-left: 1rem;
          outline: none;
          border: .2rem solid #ccc;
          border-radius: .5rem; }
          .profile.grid .profile-container__infomation-container-form-change input:focus {
            border: 0.2rem solid #7a00cc; }
        .profile.grid .profile-container__infomation-container-form-change button {
          margin-top: 3rem;
          margin-right: 3rem;
          width: 12rem;
          height: 4rem;
          background-color: #23d3ff;
          font-size: 1.6rem;
          font-weight: 600;
          border: 0;
          border-radius: .25rem;
          align-self: flex-end; }
        .profile.grid .profile-container__infomation-container-form-change button:hover {
          background-color: #6ee2ff;
          cursor: pointer; }
