<link rel="stylesheet" href="/css/myDocuments/myDocuments.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

<div class="document-container container-xxl p-5">
    <div class="row document-tools">
         <span class="document-tools__item document-tools__item__title">
            Công cụ quản lý
        </span>
        <div class="document-tools__item document-tools__item__refresh">
            <div class="document-tools__item__image" style="background-image: url('/svg/fileTools/cloud-sync.svg');"></div>
        </div>
        <div class="document-tools__item document-tools__item__upload">
            <div onclick="$('.upload-container').style.display = 'flex'"
                class="document-tools__item__image" style="background-image: url('/svg/fileTools/cloud-upload.svg');"></div>
        </div>
        <div class="document-tools__item document-tools__item__rename">
            <div class="document-tools__item__image" style="background-image: url('/svg/fileTools/cloud-rename.svg');"></div>
        </div>
        <div class="document-tools__item document-tools__item__delete">
            <div class="document-tools__item__image" style="background-image: url('/svg/fileTools/cloud-delete.svg');"></div>
        </div>
        <div class="document-tools__item document-tools__item__download">
            <div class="document-tools__item__image" style="background-image: url('/svg/fileTools/cloud-download.svg');"></div>
        </div>
    </div>

    {{!-- DOCUMENT ADD NEW DOCUMENT --}}
    <div class="document-more row">
        <div class="document-more__item"
            onclick="$('.upload-container').style.display = 'flex'">
            <div class="document-more__item__container">
                <img class="document-more__item__container__icon" src="/svg/plus.svg">
                <span class="document-more__item__container__label">Thêm Tài liệu</span>
            </div>
        </div>

        <div class="document-more__uploading">
            <img class="document-more__uploading__icon" src="/svg/my-documents/file-upload.svg" alt="">

            <div class="document-more__uploading__content">
                <h2 class="document-more__uploading__content__file-name"></h2>
                <div class="document-more__uploading__content__progress-bar">
                    <h3 class="document-more__uploading__content__progress-bar__percent">0%</h3>
                    <div class="document-more__uploading__content__progress-bar__status">
                        <div class="document-more__uploading__content__progress-bar__status__uploaded"></div>
                    </div>
                </div>
                <div class="document-more__uploading__content__uploaded">
                    <p class="document-more__uploading__content__uploaded__loaded"></p>
                    <p class="document-more__uploading__content__uploaded__seperate">/</p>
                    <p class="document-more__uploading__content__uploaded__total"></p>
                </div>
                <h2 class="document-more__uploading__content__upload-speed">0.0 Mb/s</h2>
            </div>

            <div class="document-more__uploading__cancel"></div>            
        </div>
    </div>

    {{!-- DOCUMENT LIST --}}
    <div class="document-list row row-cols-1 row-cols-md-4 row-cols-xl-6">
        
    </div>
</div>

{{!-- CONTEXT MENU --}}
    {{!-- Document List --}}
    
<ul class="context-menu context-menu__document-item">
    <li class="context-menu__item context-menu__item__download">
        <img class="context-menu__item__icon" src="/svg/my-documents/file-download.svg" alt="">
        <span class="context-menu__item__label">Tải xuống</span>
    </li>
    <li class="context-menu__item context-menu__item__share">
        <img class="context-menu__item__icon" src="/svg/my-documents/file-share.svg" alt="">
        <span class="context-menu__item__label">Chia sẻ</span>
    </li>
    <li class="context-menu__item context-menu__item__rename">
        <img class="context-menu__item__icon" src="/svg/my-documents/file-rename.svg" alt="">
        <span class="context-menu__item__label">Đổi tên</span>
    </li>
    <li class="context-menu__item context-menu__item__delete">
        <img class="context-menu__item__icon" src="/svg/my-documents/file-delete.svg" alt="">
        <span class="context-menu__item__label">Xóa</span>
    </li>
    <li class="context-menu__item context-menu__item__setting">
        <img class="context-menu__item__icon" src="/svg/my-documents/file-setting.svg" alt="">
        <span class="context-menu__item__label">Cài đặt</span>
    </li>
    <li class="context-menu__item context-menu__item__information">
        <img class="context-menu__item__icon" src="/svg/my-documents/file-information.svg" alt="">
        <span class="context-menu__item__label">Chi tiết</span>
    </li>
</ul>


{{!-- UPLOAD UI --}}
<div class="upload-container">
    <form class="upload">
        <h3 class="upload__title">
            Tải lên
            <img class="upload__cancel" src="/svg/close2.svg">
        </h3>
        <div class="upload__form-content">
            <div class="upload__form-content__input-container">
                <img class="upload__form-content__input-container__icon" src="/svg/upload2.svg" alt="">
                <label for="documentFile"
                class="upload__form-content__input-container__button">
                    Chọn tài liệu
                </label>
                <div class="upload__form-content__input-container__warning-message">
                    <img class="upload__form-content__input-container__warning-message__icon" src="/svg/warning-message.svg" alt="">
                    <span class="upload__form-content__input-container__warning-message__content"></span>
                </div>
                <p class="upload__form-content__input-container__original-file-name"></p>
                <input type="file" name="documentFile" id="documentFile" style="display: none;"
                    accept=".docx, .xlsm, .xlsx, .pptx">
            </div>
            <div class="upload__form-content__file-info">
                <input type="text" value="{{_id}}" name="id" style="display: none;">
                <span class="upload__form-content__file-info__title">Thông tin Tài liệu</span>
                <div class="upload__form-content__file-info__file-name input-container">
                    <input type="text" id="documentFileName" name="fileName" class="input upload__form-content__file-info__file-name" placeholder=" " autocomplete="off">
                    <label for="documentFileName" class="input-title">Tên tài liệu</label>
                    <div class="upload__form-content__file-info__file-name__warning-message">
                        <img class="upload__form-content__file-info__file-name__warning-message__icon" src="/svg/warning-message.svg" alt="">
                        <span class="upload__form-content__file-info__file-name__warning-message__content"></span>
                    </div>
                </div>
                <div class="upload__form-content__file-info__option">
                    <span class="upload__form-content__file-info__option__title">Chế độ:</span>
                    <input type="radio" name="fileOption" id="publicOption" value="public">
                    <label for="publicOption">Công khai</label>
                    <input type="radio" name="fileOption" id="privateOption" value="private">
                    <label for="privateOption">Riêng tư</label>
                    <div class="upload__form-content__file-info__option__warning-message">
                        <img class="upload__form-content__file-info__option__warning-message__icon" src="/svg/warning-message.svg" alt="">
                        <span class="upload__form-content__file-info__option__warning-message__content"></span>
                    </div>
                </div>

                <div class="upload__form-content__file-info__button-container">
                    <button class="btn upload__form-content__file-info__submit-button">
                        Tải lên
                    </button>
                </div>
            </div>
        </div>
    </form>

{{!-- UPLOAD/ DOWNLOAD/ DELETE/ SHARE/ OPTION[PUBLIC/ PRIVATE] --}}
<data id="data" userId="{{_id}}"></data>
<script src="/js/myDocuments/myDocuments.js"></script>