<div class="header grid">
   <div class="header-container grid wine">
      <a href="/" class="header-container__left">
         <i class="header-container__logo fal fa-images"></i>
         <span class="header-container__logo-title">TVC Social</span>
      </a>

      <a href="" class="header-container__right">
         <div class="header-container-right__account">
            <i class="avatar fad fa-user-circle"></i>
            <a href="/login" class="header-container-right__account-login">Đăng nhập</a>
            <a href="" class="header-container-right__account-register">Đăng ký</a>
         </div>
      </a>
   </div>

   {{!-- Border --}}
   <div class="header__border-right"></div>
   <div class="header__border-left"></div>
</div>