<div class="header grid">
   <div class="header-container grid wide">
      <div class="row">
         <div class="header-container__left">
            <a href="/">
               <i class="header-container__logo fal fa-images"></i>
               <span class="header-container__logo-title">TVC Social</span>
            </a>
            <i class="header-container-left__search-bar-icon fas fa-search"></i>
            <input class="header-container-left__search-bar" type="text">
         </div>
         
         <a href="" class="header-container__right">
            <div class="header-container-right__account">
            {{#if username}}
               <div class="avatar-container">
                  <span>
                     <p class="name">{{name}}</p>
                  </span>
                  <i class="avatar fad fa-user-circle"></i>

                  {{!-- HOVER --}}
                  <ul class="avatar-container--hover">
                     <li class="avatar-container__item">
                        <a class="avatar-container-item__title" href="/logout">Đăng xuất</a>
                     </li>
                  </ul>
               </div>
            {{else}}
               <h1>{{username}}</h1>
               <a href="/login" class="header-container-right__account-login">Đăng nhập</a>
               <a href="/register" class="header-container-right__account-register">Đăng ký</a>
            {{/if}}
            </div>
         </a>
      </div>
   </div>

   {{!-- Border --}}
   <div class="header__border-right"></div>
   <div class="header__border-left"></div>
</div>

<script>
   let searchButton = document.querySelector('.header-container-left__search-bar-icon')
   let visible = false;
   searchButton.onclick = function () {
      let searchBar = document.querySelector('.header-container-left__search-bar')
      console.log(searchBar)

      if (visible === false) {
         searchBar.style.display = 'block'
         visible = true
      } else {
         searchBar.style.display = 'none'
         visible = false
      }
   }
</script>