@import "../base/variables", "../base/base", "../base/mixin";

$documentMoreItemHeight: 16rem;
:root {
  --document-more-item-height: 16rem;
}

$iconSizeTools: 3rem;
$iconSeperateTools: 1rem;
$documentToolsSeperate: 1.4rem;
$formContentSeperate: 2rem;
$formContentIconSize: 10rem;

.document-container {
  .document-tools {
    height: 4rem;
    background-color: rgb(243, 243, 243);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;

    &__item {
      width: $iconSizeTools;
      margin: 0 $iconSeperateTools;
      position: relative;

      &:nth-child(2) {
        margin-left: auto;
      }

      &:last-child {
        margin-right: $documentToolsSeperate + $iconSeperateTools;
      }

      &__title {
        width: 14rem;
        padding-left: $documentToolsSeperate;
        font-size: 1.6rem;
      }

      &__image {
        @include setSize($iconSizeTools + 1rem);
        background-size: $iconSizeTools;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          cursor: pointer;
          border-radius: 50%;
          background-color: rgb(255, 255, 255);
          box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.096);
        }
      }
    }
  }

  .document-more {
    margin-top: 1.5rem;
    position: relative;

    &__item {
      $iconSize: 4rem;
      @include flex(column, center, flex-start);
      @include setSize($documentMoreItemHeight);
      background-color: #f3f3f3;
      border-radius: 0.5rem;
      position: relative;
      box-shadow: 0 0.2rem 0.5rem 0.3rem rgba(0, 0, 0, 0.1);
      user-select: none;
      transition: ease 0.1s;

      &:hover {
        cursor: pointer;
        box-shadow: 0 0.2rem 0.5rem 0.3rem rgba(0, 0, 0, 0.15);

        .document-more__item__container {
          opacity: 0.8;
        }
      }

      &__container {
        @include flex(column, center, center);
        margin: auto;
        transition: ease 0.3s;

        &__icon {
          @include setSize($iconSize);
        }

        &__label {
          font-size: 1.4rem;
          color: $textColor;
          margin-top: 0.5rem;
        }
      }
    }

    &__uploading {
      @include flex(row, center, flex-start);
      @include setSize(
        calc(100% - var(--document-more-item-height)),
        $documentMoreItemHeight
      );
      padding-right: 11rem;
      display: none;

      &__icon {
        height: 100%;
        padding: ($documentMoreItemHeight / 100) * 15;
        padding-right: 0;

        &::before {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
        }
      }

      &__content {
        @include setSize(70rem, 100%);
        @include flex(column, flex-start, center);
        flex-grow: 1;
        margin-left: 2rem;

        &__file-name {
          @include flex(row, center, center);
          width: 100%;
          color: $textColor;
          font-size: 1.8rem;
        }

        &__progress-bar {
          @include flex(row, center, flex-start);
          width: 100%;

          &__percent {
            font-size: 1.4rem;
            font-weight: bold;
            margin: 0;
          }

          &__status {
            height: 0.7rem;
            flex-grow: 1;
            background-color: #cbe8ff;
            margin-left: 1rem;
            border-radius: 1rem;

            &__uploaded {
              transition: linear 0.1s;
              background-image: linear-gradient(-90deg, #0062ff, #52b1ff);
              width: 0;
              height: 100%;
              border-radius: 1rem;
            }
          }
        }

        &__uploaded {
          @include flex(row, center, center);
          width: 100%;

          p {
            margin: 0;
            color: $textColor;
            font-size: 1.2rem;
            font-weight: 600;
          }

          &__loaded {
          }

          &__seperate {
            margin: 0 0.5rem;
          }
        }

        &__upload-speed {
          color: #001f99;
          font-size: 1.8rem;
        }
      }

      &__cancel {
        @include setSize(5rem);
        position: absolute;
        right: 5rem;
        top: 50%;
        transform: translateY(-65%);
        margin-left: 3rem;
        border-radius: 50%;
        background-image: url("/svg/close2.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 1rem;
        transition: linear 0.1s;

        &:hover {
          cursor: pointer;
          box-shadow: 0 0 0.5rem 0.3rem rgba(0, 0, 0, 0.1);
        }
      }
    }
  }

  .document-list {
    margin-top: 1rem;

    &__item {
      padding: 1.5rem;

      &__container {
        @include flex(column, center, flex-start);
        border-radius: 0.5rem;
        box-shadow: 0 0.1rem 0.5rem 0.2rem rgba(0, 0, 0, 0.1);
        position: relative;

        &.selected {
          &::before {
            content: "";
            display: block;
            @include setSize(2rem);
            position: absolute;
            top: 1rem;
            left: 1rem;
            background-image: url("/svg/check.svg");
          }
        }

        &__image {
          @include setSize(60%);
          margin: 10% 0;
        }

        &__file-name {
          width: 100%;
          color: $textColor;
          font-size: 1.4rem;
          font-family: "Roboto", sans-serif;
          word-wrap: break-word;
          text-align: center;
          overflow: hidden;
          margin-bottom: 0.5rem;
        }

        &__file-info {
          @include flex(row, center, space-between);
          @include setSize(100%, auto);
          padding: 0 1rem 1rem;

          &__last-change {
            color: $textColor;
            font-size: 1.2rem;
          }

          &__size {
            font-size: 1.4rem;
            font-weight: bold;
          }
        }

        &:hover {
          cursor: pointer;
          box-shadow: 0 0.1rem 0.7rem 0.5rem rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}

.context-menu {
  visibility: hidden;
  position: fixed;
  border-radius: 0.4rem;
  overflow: hidden;
  list-style: none;
  background-color: $whiteColor;
  padding-left: 0;
  box-shadow: 0 0.1rem 0.7rem 0.3rem rgba(0, 0, 0, 0.3);
  user-select: none;
  user-zoom: none;
  margin: 0;

  &__item:first-child {
    margin-top: 0.8rem;
  }

  &__item:last-child {
    margin-bottom: 1rem;
  }

  &__item {
    $itemHeight: 3.6rem;
    @include setSize(20rem, $itemHeight);
    @include flex(row, center);
    padding-left: 1rem;

    &__icon {
      $iconSize: 2.2rem;
      @include setSize($iconSize);
      margin-left: ($itemHeight - $iconSize) / 2;
    }

    &__label {
      color: $textColor;
      font-size: 1.4rem;
      font-weight: bold;
      margin-left: ($itemHeight - 2.2rem) / 2;
    }

    &:hover {
      background-color: #e2e2e2;
      cursor: pointer;
    }
  }
}

.upload-container {
  // display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 101;
  background-color: rgba(0, 0, 0, 0.3);
  animation: showUploadContainer ease 0.2s;
  display: none;
  will-change: opacity;

  @keyframes showUploadContainer {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .upload {
    $seperate: 1rem;
    @include setSize(48rem, auto);
    background-color: $whiteColor;
    border-radius: 0.5rem;
    margin: auto;
    position: relative;
    transition: linear 0.3s;
    animation: showUploadForm ease 0.2s;
    will-change: opacity transform;

    @keyframes showUploadForm {
      from {
        opacity: 0;
        transform: scale(0);
      }
      to {
        opacity: 1;
        transform: scale(1);
      }
    }

    &__title {
      @include font(1.6rem);
      @include setSize(100%, 3rem);
      @include flex(row, center, flex-start);
      padding: $seperate 0 1rem $seperate;
      border-bottom: 0.1rem solid $borderColor;

      .upload__cancel {
        @include setSize(1.5rem);
        object-fit: contain;
        object-position: center;
        position: absolute;
        top: 0.75rem;
        right: 0.75rem;

        &:hover {
          opacity: 0.7;
          cursor: pointer;
        }
      }
    }

    &__form-content {
      @include flex(row, center, flex-start);
      padding: 0 $formContentSeperate;

      &__input-container {
        @include setSize(15rem);
        border-right: 0.1rem solid $borderColor;
        position: relative;

        &__warning-message {
          @include setSize(100%, 2rem);
          @include flex(row, center);
          margin-left: -1rem;
          visibility: hidden;
          transform: translateY(-2rem);
          opacity: 0;
          transition: ease 0.3s;
          position: absolute;

          &__icon {
            height: 90%;
            margin-left: 0.3rem;
          }

          &__content {
            text-align: center;
            font-size: 1.2rem;
            font-weight: bold;
            color: rgb(255, 115, 0);
            margin-left: 0.5rem;
          }
        }

        &.fail {
          .upload__form-content__input-container__warning-message {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
          }
        }

        &__icon {
          @include setSize(100%, $formContentIconSize);
        }

        &__button {
          @include setSize(9rem, 2.4rem);
          @include font(1.4rem, #004db1);
          @include flex(row, center, center);
          position: relative;
          left: 50%;
          transform: translateX(-50%);
          margin-top: 1rem;
          border-radius: 0.5rem;
          border: 0.1rem solid #3475cb;
          transition: ease 0.1s;
          cursor: pointer;

          &.fail {
            border-color: $failColor;
            color: $failColor;

            &:hover {
              background-color: $failColor;
            }

            ~ .upload__form-content__input-container__original-file-name {
              color: $failColor;
            }
          }

          &:hover {
            background-color: #3475cb;
            color: $whiteColor;
            font-weight: bold;
          }
        }

        &__original-file-name {
          width: 100%;
          text-align: center;
          white-space: nowrap;
          overflow: hidden;
          margin-top: 0.3rem;
          text-overflow: ellipsis;
        }
      }

      &__file-info {
        flex-grow: 1;
        padding-left: 2rem;
        align-self: flex-start;

        &__title {
          font-size: 1.8rem;
          margin-bottom: 1.8rem;
          display: block;
          transform: translateX(-1rem);
        }

        &__file-name {
          height: 3.4rem;
          position: relative;
          transition: ease 0.1s;

          &.fail {
            margin-bottom: 3rem;

            .upload__form-content__file-info__file-name__warning-message {
              visibility: visible;
              opacity: 1;
              transform: translateY(0);
            }

            > input {
              color: $failColor;
              border-color: $failColor;
            }
            > .input-title {
              color: $failColor;
            }
          }

          &__warning-message {
            @include setSize(100%, 3rem);
            @include flex(row, center);
            visibility: hidden;
            opacity: 0;
            transform: translateY(-2rem);
            position: absolute;
            top: 100%;

            &__icon {
              height: 1.8rem;
            }

            &__content {
              flex-grow: 1;
              color: rgb(255, 115, 0);
              font-size: 1.2rem;
              font-weight: bold;
              line-height: 1.4rem;
              margin-left: 0.5rem;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }

          input {
            font-size: 1.4rem;
            padding-top: 0.3rem;
            border-radius: 0.5rem;
          }
        }

        &__option {
          @include flex(row, center, flex-start);
          margin-top: 1rem;
          position: relative;

          &.fail {
            margin-bottom: 2.8rem;

            .upload__form-content__file-info__option__warning-message {
              visibility: visible;
              opacity: 1;
              transform: translateY(0);
            }
          }

          &__warning-message {
            @include setSize(100%, 2rem);
            @include flex(row, center);
            visibility: hidden;
            opacity: 0;
            transform: translateY(-2rem);
            position: absolute;
            top: 100%;
            margin: 0.3rem 0 0.5rem 0;
            transition: ease 0.2s;

            &__icon {
              height: 90%;
            }

            &__content {
              flex-grow: 1;
              color: rgb(255, 115, 0);
              font-size: 1.2rem;
              font-weight: bold;
              margin-left: 0.5rem;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }

          &__title {
            font-size: 1.4rem;
            margin-right: 1rem;
          }

          label {
            font-size: 1.2rem;
            margin-left: 0.5rem;
          }

          input {
            @include setSize(1.8rem);
            margin-left: 2rem;
          }
        }

        &__button-container {
          @include setSize(100%, 2.8rem);
          @include flex(row, center, flex-end);
          margin: 1rem 2rem 2rem 0;

          .upload__form-content__file-info__submit-button {
            @include setSize(9rem, 100%);
            @include flex(row, center, center);
            font-size: 1.4rem;
            font-weight: bold;
          }
        }
      }
    }
  }
}
