@import "../variables", "../base", "../grid", "../mixin";

$iconSizeTools: 3rem;
$iconSeperateTools: 1rem;
$documentToolsSeperate: 1.4rem;
$formContentSeperate: 2rem;
$formContentIconSize: 10rem;

.document-container {
  .document-tools {
    height: 4rem;
    background-color: rgb(243, 243, 243);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;

    &__item {
      width: $iconSizeTools;
      margin: 0 $iconSeperateTools;
      position: relative;

      &:nth-child(2) {
        margin-left: auto;
      }

      &:last-child {
        margin-right: $documentToolsSeperate + $iconSeperateTools;
      }

      &__title {
        width: 14rem;
        padding-left: $documentToolsSeperate;
        font-size: 1.6rem;
      }

      &__image {
        @include setSize($iconSizeTools + 1rem);
        background-size: $iconSizeTools;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          cursor: pointer;
          border-radius: 50%;
          background-color: rgb(255, 255, 255);
          box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.096);
        }
      }
    }
  }

  .document-more {
    margin-top: 1.5rem;

    &__item {
      $iconSize: 4rem;
      @include flex(column, center, flex-start);
      @include setSize(16rem);
      background-color: #f3f3f3;
      border-radius: 0.5rem;
      position: relative;
      box-shadow: 0 .2rem .5rem .3rem rgba(0, 0, 0, 0.1);
      user-select: none;
      transition: ease .1s;
      
      &:hover{
        cursor: pointer;
        box-shadow: 0 .2rem .5rem .3rem rgba(0, 0, 0, 0.15);

        .document-more__item__container{
          opacity: .8;
        }
      }

      &__container {
        @include flex(column, center, center);
        margin: auto;
        transition: ease .3s;

        &__icon {
          @include setSize($iconSize);
        }

        &__label {
          font-size: 1.4rem;
          color: $textColor;
          margin-top: .5rem;
        }
      }
    }
  }
}

.upload-container {
  // display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 101;
  background-color: rgba(0, 0, 0, 0.3);
  animation: showUploadContainer ease 0.2s;
  display: none;
  will-change: opacity;

  @keyframes showUploadContainer {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .upload {
    $seperate: 1rem;
    @include setSize(48rem, auto);
    background-color: $whiteColor;
    border-radius: 0.5rem;
    margin: auto;
    position: relative;
    transition: linear 0.3s;
    animation: showUploadForm ease 0.2s;
    will-change: opacity transform;

    @keyframes showUploadForm {
      from {
        opacity: 0;
        transform: scale(0);
      }
      to {
        opacity: 1;
        transform: scale(1);
      }
    }

    &__title {
      @include font(1.6rem);
      @include setSize(100%, 3rem);
      @include flex(row, center, flex-start);
      padding: $seperate 0 1rem $seperate;
      border-bottom: 0.1rem solid $borderColor;

      .upload__cancel {
        @include setSize(1.5rem);
        object-fit: contain;
        object-position: center;
        position: absolute;
        top: 0.75rem;
        right: 0.75rem;

        &:hover {
          opacity: 0.7;
          cursor: pointer;
        }
      }
    }

    &__form-content {
      @include flex(row, center, flex-start);
      padding: 0 $formContentSeperate;

      &__input-container {
        @include setSize(15rem);
        border-right: 0.1rem solid $borderColor;
        position: relative;

        &__warning-message {
          @include setSize(100%, 2rem);
          @include flex(row, center);
          margin-left: -1rem;
          visibility: hidden;
          transform: translateY(-2rem);
          opacity: 0;
          transition: ease 0.3s;
          position: absolute;

          &__icon {
            height: 90%;
            margin-left: 0.3rem;
          }

          &__content {
            text-align: center;
            font-size: 1.2rem;
            font-weight: bold;
            color: rgb(255, 115, 0);
            margin-left: 0.5rem;
          }
        }

        &.fail {
          .upload__form-content__input-container__warning-message {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
          }
        }

        &__icon {
          @include setSize(100%, $formContentIconSize);
        }

        &__button {
          @include setSize(9rem, 2.4rem);
          @include font(1.4rem, #004db1);
          @include flex(row, center, center);
          position: relative;
          left: 50%;
          transform: translateX(-50%);
          margin-top: 1rem;
          border-radius: 0.5rem;
          border: 0.1rem solid #3475cb;
          transition: ease 0.1s;
          cursor: pointer;

          &.fail {
            border-color: $failColor;
            color: $failColor;

            &:hover {
              background-color: $failColor;
            }

            ~ .upload__form-content__input-container__original-file-name {
              color: $failColor;
            }
          }

          &:hover {
            background-color: #3475cb;
            color: $whiteColor;
            font-weight: bold;
          }
        }

        &__original-file-name {
          width: 100%;
          text-align: center;
          white-space: nowrap;
          overflow: hidden;
          margin-top: 0.3rem;
          text-overflow: ellipsis;
        }
      }

      &__file-info {
        flex-grow: 1;
        padding-left: 2rem;
        align-self: flex-start;

        &__title {
          font-size: 1.8rem;
          margin-bottom: 1.8rem;
          display: block;
          transform: translateX(-1rem);
        }

        &__file-name {
          height: 3.4rem;
          position: relative;
          transition: ease 0.3s;

          &.fail {
            margin-bottom: 3rem;

            .upload__form-content__file-info__file-name__warning-message {
              visibility: visible;
              opacity: 1;
              transform: translateY(0);
            }

            > input {
              color: $failColor;
              border-color: $failColor;
            }
            > .input-title {
              color: $failColor;
            }
          }

          &__warning-message {
            @include setSize(100%, 3rem);
            @include flex(row, center);
            visibility: hidden;
            opacity: 0;
            transform: translateY(-2rem);
            position: absolute;
            top: 100%;

            &__icon {
              height: 1.8rem;
            }

            &__content {
              flex-grow: 1;
              color: rgb(255, 115, 0);
              font-size: 1.2rem;
              font-weight: bold;
              line-height: 1.4rem;
              margin-left: 0.5rem;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }

          input {
            font-size: 1.4rem;
            padding-top: 0.3rem;
            border-radius: 0.5rem;
          }
        }

        &__option {
          @include flex(row, center, flex-start);
          margin-top: 1rem;
          position: relative;

          &.fail {
            margin-bottom: 2.8rem;

            .upload__form-content__file-info__option__warning-message {
              visibility: visible;
              opacity: 1;
              transform: translateY(0);
            }
          }

          &__warning-message {
            @include setSize(100%, 2rem);
            @include flex(row, center);
            visibility: hidden;
            opacity: 0;
            transform: translateY(-2rem);
            position: absolute;
            top: 100%;
            margin: 0.3rem 0 0.5rem 0;
            transition: ease 0.2s;

            &__icon {
              height: 90%;
            }

            &__content {
              flex-grow: 1;
              color: rgb(255, 115, 0);
              font-size: 1.2rem;
              font-weight: bold;
              margin-left: 0.5rem;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }

          &__title {
            font-size: 1.4rem;
            margin-right: 1rem;
          }

          label {
            font-size: 1.2rem;
            margin-left: 0.5rem;
          }

          input {
            @include setSize(1.8rem);
            margin-left: 2rem;
          }
        }

        &__button-container {
          @include setSize(100%, 2.8rem);
          @include flex(row, center, flex-end);
          margin: 1rem 2rem 2rem 0;

          .upload__form-content__file-info__submit-button {
            @include setSize(9rem, 100%);
            @include flex(row, center, center);
            font-size: 1.4rem;
            font-weight: bold;
          }
        }
      }
    }
  }
}
