@import "./_variables", "./grid";


.btn{
   border: .2rem solid #0088cc;
   background-color: $whiteColor;
   color: #0088cc;
   transition: linear .2s;

   &:hover{
      border: 0;
      color: $whiteColor;
      background-color: #0088cc;
   }
}

.triangle{
   width: 0;
   height: 0;
}

.triangle.up {
   border-left: 50px solid transparent;
   border-right: 50px solid transparent;
   border-bottom: 100px solid red;
}
.triangle.down {
   border-left: 50px solid transparent;
   border-right: 50px solid transparent;
   border-top: 100px solid red;
}

.triangle.left{
   border-top: 50px solid transparent;
   border-right: 100px solid red;
   border-bottom: 50px solid transparent;
}

.triangle.right{
   border-top: 50px solid transparent;
   border-left: 100px solid red;
   border-bottom: 50px solid transparent;
}

button:disabled {
   background-color: rgb(184, 171, 171) !important;
   border: 0 !important;
   color: $whiteColor !important;
   cursor: default !important;
}