.btn{
   border: 0;
   height: 1.8rem;
   min-width: 3rem;
}

.triangle{
   width: 0;
   height: 0;
}

.triangle.up {
   border-left: 50px solid transparent;
   border-right: 50px solid transparent;
   border-bottom: 100px solid red;
}
.triangle.down {
   border-left: 50px solid transparent;
   border-right: 50px solid transparent;
   border-top: 100px solid red;
}

.triangle.left{
   border-top: 50px solid transparent;
   border-right: 100px solid red;
   border-bottom: 50px solid transparent;
}

.triangle.right{
   border-top: 50px solid transparent;
   border-left: 100px solid red;
   border-bottom: 50px solid transparent;
}