// COLOR
$primaryColor: #7a00cc;
$primaryColorBlur: #b966f0d0;
$iconWhiteColor: rgb(245, 245, 245);
$WhiteColor: rgb(246, 246, 246);
$textColor: rgb(92, 92, 92);
$borderColor: rgb(204, 204, 204);

// SIZE
$headerHeight: 60px;

//MIXIN
@mixin borderLeftAndRight {
    border-left: .1rem solid $borderColor;
    border-right: .1rem solid $borderColor;
}