// COLOR
$primaryColor: #4a90ff;
$primaryColorBlur: #7baeff;
$primaryColorDark: #0b69ff;
$iconWhiteColor: rgb(245, 245, 245);
$whiteColor: rgb(255, 255, 255);
$textColor: rgb(92, 92, 92);
$borderColor: rgb(204, 204, 204);

// SIZE
$headerHeight: 54px;

//MIXIN
@mixin borderLeftAndRight {
    border-left: .1rem solid $borderColor;
    border-right: .1rem solid $borderColor;
}