// COLOR
$primaryColor: #7a00cc;
$iconWhiteColor: rgb(245, 245, 245);
$WhiteColor: rgb(238, 253, 255);
$textColor: rgb(92, 92, 92);
$boderColor: rgb(204, 204, 204);

// SIZE
$headerHeight: 60px;

//MIXIN
@mixin borderLeftAndRight {
    border-left: .1rem solid $boderColor;
    border-right: .1rem solid $boderColor;
}