@import "_variables", "base", "grid";

::-webkit-scrollbar {
  width: 0.7rem;
  color: red;
  border-radius: 1rem;
}

::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: rgb(144, 144, 144);
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(214, 178, 111);
}

html {
  font-size: 62.5%;
  font-family: "Baloo Paaji 2", cursive;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

//NOT FOUND PAGE
.not-found {
  height: calc(100vh - 6rem);
  display: flex;
  flex-direction: column;

  &-background {
    height: 70vh;
    flex: 1;

    .col {
      display: flex;

      img {
        width: 30rem;
        margin: auto;
      }
    }
  }
  &-content {
    padding-bottom: 7rem;

    .col {
      span {
        display: block;
        text-align: center;
        font-size: 1.8rem;
        color: red;
      }
    }
  }
}

.message {
  //VARIABLES
  $btnHeight: 3rem;
  $messageWidth: 40rem;
  $messageMaxHeight: 16rem;
  $messageSeperate: $headerHeight / 3;
  $messageTransitionYBefore: -$messageMaxHeight - 2rem;
  $messageTransitionYAfter: 0;
  $btnSeperate: 1rem;
  $viewWidth: 100vw;

  //ANIMATION
  &-show {
    animation: showMessage linear 0.5s;
    transform: translate3D(-$messageWidth / 2, $messageTransitionYAfter, 0);

    @keyframes showMessage {
      from {
        opacity: 0;
        transform: translate3D(
          -$messageWidth / 2,
          $messageTransitionYBefore,
          0
        );
      }
      to {
        opacity: 1;
        transform: translate3D(-$messageWidth / 2, $messageTransitionYAfter, 0);
      }
    }
  }
  &-hidden {
    animation: hiddenMessage linear 0.5s;
    transform: translate3D(-$messageWidth / 2, $messageTransitionYBefore, 0);

    @keyframes hiddenMessage {
      from {
        opacity: 1;
        transform: translate3D(-$messageWidth / 2, $messageTransitionYAfter, 0);
      }
      to {
        opacity: 0;
        transform: translate3D(
          -$messageWidth / 2,
          $messageTransitionYBefore,
          0
        );
      }
    }
  }

  width: $messageWidth;
  max-height: $messageMaxHeight;
  position: fixed;
  z-index: 100;
  left: 50%;
  transform: translate3D(-$messageWidth / 2, $messageTransitionYBefore, 0);
  top: $headerHeight / 3;
  background-color: $WhiteColor;
  border-radius: 1rem;
  box-shadow: 0 0.1rem 1.5rem 0.5rem rgba(0, 0, 0, 0.466);
  overflow: hidden;
  display: flex;

  flex-direction: column;
  align-items: stretch;

  &-title {
    width: 100%;
    min-height: 3rem;
    line-height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
    background-color: #9c58c8;

    p {
      font-size: 1.8rem;
      color: rgb(255, 255, 255);
    }
  }

  &-content {
    $fontSize: 1.7rem;

    min-height: 4rem;
    max-height: $fontSize * 4;
    display: flex;
    margin-bottom: $btnHeight + $btnSeperate;
    overflow: hidden;

    p {
      font-size: $fontSize;
      color: $textColor;
      margin: auto;
    }
  }

  &-close-btn {
    width: 10rem;
    height: $btnHeight;
    font-size: 1.6rem;
    color: $WhiteColor;
    border: 0;
    background-color: rgb(164, 33, 168);
    border-radius: 0.25rem;
    position: absolute;
    bottom: $btnSeperate;
    right: $btnSeperate;

    &:hover {
      background-color: rgb(140, 29, 144);
      cursor: pointer;
    }
  }
}

.header {
  height: $headerHeight;
  background-color: $primaryColor;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  border: 0.1rem solid #ab2cff;

  a {
    text-decoration: none;
    color: $WhiteColor;
  }

  .header__border-left {
    top: 100%;
    left: -0.1rem;
  }

  .header__border-right {
    top: 100%;
    right: -0.1rem;
  }

  .header__border-left,
  .header__border-right {
    width: 1rem;
    height: 1rem;
    overflow: hidden;
    position: absolute;
  }

  .header__border-left:before,
  .header__border-right:before {
    content: "";
    display: block;
    width: 200%;
    height: 200%;
    position: absolute;
    border-radius: 50%;
  }

  .header__border-left:before {
    top: 0;
    left: 0;
    box-shadow: -0.5rem -0.5rem 0 0 $primaryColor;
  }
  .header__border-right:before {
    top: 0;
    right: 0;
    box-shadow: 0.5rem -0.5rem 0 0 $primaryColor;
  }
}

.header-container.grid.wide {
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  //Header Left
  .header-container__left {
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 100%;

    .header-container-left__search-bar-icon {
      height: 4rem;
      width: 4rem;
      font-size: 2.8rem;
      color: rgb(173, 245, 255);
      background-color: rgb(101, 0, 168);
      margin-left: 3rem;
      padding: 0.8rem;
      border-radius: 50%;
      cursor: pointer;
    }

    @keyframes showSearchBar {
      from {
        opacity: 0;
        transform: translateX(-7rem);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }

    .header-container-left__search-bar {
      height: 3.6rem;
      margin-left: 3rem;
      border-radius: 2rem;
      border: 0;
      outline: none;
      padding: 0 1rem;
      font-size: 1.4rem;
      font-weight: 600;
      background-color: rgb(235, 235, 235);
      animation: showSearchBar linear 300ms;
      display: none;
      cursor: pointer;

      &:focus {
        box-shadow: 0 0 0.3rem 0.3rem #be5bff;
      }
    }
  }

  a {
    display: flex;
    align-items: center;

    .header-container__logo {
      color: $iconWhiteColor;
      font-size: 3rem;
      padding: 1.4rem;
    }
    .header-container__logo-title {
      color: $WhiteColor;
      font-size: 1.6rem;
      letter-spacing: 3px;
    }
  }

  //Header - Right
  .header-container__right {
    display: flex;
    align-items: center;

    .header-account {
      $height: 3.6rem;

      display: block;
      height: $height;
      min-width: 10rem;
      max-width: 30rem;

      &__container {
        height: 100%;
        background-color: $WhiteColor;
        border-radius: 10rem;
        display: flex;
        align-items: center;
        position: relative;

        &:hover .header-account__container-hover {
          display: flex;
        }

        &-name {
          max-width: 25rem;
          font-size: 1.4rem;
          line-height: 1.4rem;
          color: $textColor;
          padding-left: 1.5rem;
          padding-right: $height + 1rem;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;

          &-content {
            max-width: 20rem;
          }
        }

        &-avatar {
          &-img {
            height: $height;
            width: $height;
            position: absolute;
            right: 0;
            top: 0;
            border-radius: 50%;
            border: 0.1rem solid $borderColor;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
          }
        }

        // KHOẢNG CÁCH CỦA CẢ THẺ UL VỚI NÚT HOVER Ở TRÊN
        $seperateHeight: 1.2rem;

        &-hover {
          position: absolute;
          top: 100%;
          right: 1rem;
          transform: translateY($seperateHeight);
          list-style: none;
          display: none;
          flex-direction: column;

          &-item:not(.header-account__container-hover-item:first-child) {
            margin-top: $seperateHeight;
          }

          &-item {
            // XÉT KHOẢNG CÁCH GIỮA CÁC THẺ
            $seperateHeight: 1rem;

            // Thuộc tính của các item (thẻ li)
            $itemHeight: 3rem;

            width: 18rem;
            height: $itemHeight;
            background-color: $primaryColorBlur;
            border-radius: 0.5rem;
            box-shadow: 0 0.2rem 0.6rem 0.2rem rgb(124, 124, 124);
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            animation: showItem linear 0.1s;

            &:hover {
              box-shadow: 0 0.2rem 0.6rem 0.2rem rgb(210, 38, 212);
            }
            &:hover {
              .header-account__container-hover-item-container__arrow {
                display: block;
              }
            }

            &::before {
              content: "";
              width: 100%;
              height: $seperateHeight + 0.2rem;
              position: absolute;
              bottom: 100%;
            }

            &-container {
              color: $WhiteColor;
              align-items: center;
              justify-content: center;
              display: flex;

              span {
                font-size: 1.6rem;
                line-height: 2rem;
                justify-self: center;
              }

              &__arrow {
                position: absolute;
                font-size: 2rem;
                left: 1rem;
                display: none;
                transform: rotate(-90deg);
                animation: showArrow linear 0.15s;
              }

              @keyframes showArrow {
                from {
                  opacity: 0;
                  transform: translateX(-1rem);
                  transform: rotate(0);
                }
                to {
                  opacity: 1;
                  transform: translateX(0rem);
                  transform: rotate(-90deg);
                }
              }

              @keyframes showItem {
                from {
                  opacity: 0;
                  height: 0;
                }
                to {
                  opacity: 1;
                  height: $itemHeight;
                }
              }
            }
          }
        }

        &-hover::before {
          content: "";
          width: 100%;
          height: $seperateHeight;
          position: absolute;
          bottom: 100%;
          background-color: transparent;
        }
      }
    }

    .header-container-right__account-login,
    .header-container-right__account-register {
      font-size: 1.7rem;
    }

    .header-container-right__account-seperate {
      border-left: 0.2rem solid $borderColor;
      height: 1.8rem;
      margin: 0 0.5rem;
    }
  }
}

.login {
  $formHeight: 28rem;
  $formWidth: 45rem;
  $iconHeight: 10rem;
  $titleFontSize: 2rem;
  $inputWidth: 40rem;

  &-container {
    height: 100vh;
    background-image: url("/img/registerBackground.png");
    background-position: center;
    background-size: cover;
    position: relative;

    .login-form-container{
      width: 30vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 20vw;
    }

    &__form {
      height: $formHeight;
      width: $formWidth;
      position: absolute;
      border-radius: 1rem;
      background-color: $WhiteColor;
      border: 0.1rem solid $borderColor;
      display: flex;
      flex-direction: column;
      align-items: center;

      &-icon {
        height: $iconHeight;
        width: $iconHeight;
        border-radius: 50%;
        position: absolute;
        left: ($formWidth/2) - ($iconHeight/2);
        top: -$iconHeight/2;
        background-color: rgb(246, 246, 246);
        padding: 0.7rem;  
      }

      &-title {
        width: 40rem;
        font-size: $titleFontSize;
        line-height: $titleFontSize;
        margin-top: $iconHeight/2;
        display: flex;
        justify-content: space-between;

        span {
          color: #1b2ed6;
        }

        a {
          color: rgb(27, 233, 96);
          font-size: $titleFontSize - 0.5rem;
          text-decoration: none;
          display: flex;
          align-items: center;
          position: relative;

          &:hover {
            color: rgb(73, 182, 79);

            i {
              visibility: visible;
            }
          }

          i {
            font-size: $titleFontSize;
            position: absolute;
            left: calc(100% + 0.5rem);
            visibility: hidden;
            transition: linear 0.1s;
          }
        }
      }

      &-username-container {
        input {
          margin-top: 2.4rem;
        }
      }
      &-password-container {
        input {
          margin-top: 1rem;
        }
      }

      input {
        font-size: 1.4rem;
        width: $inputWidth;
        height: 4rem;
        border: 0;
        border-radius: 0.5rem;
        padding: 0 1.5rem;
        background-color: rgba(173, 180, 214, 0.198);
        outline: none;

        &::placeholder {
          color: $textColor;
          font-size: 1.4rem;
        }

        &:focus {
          border: 0.2rem solid $primaryColorBlur;
        }
      }

      #loginUsername {
      }
      #loginPassword {
      }
    }
  }

  .button-container {
    margin-top: 5rem;
    width: 100%;
    display: flex; 
    align-items: center;
    position: relative;

    button {
      width: 12rem;
      height: 3.5rem;
      border: 0.1rem solid $borderColor;
      background-color: rgb(59, 112, 255);
      border-radius: 0.2rem;
      color: #ffffff;
      font-size: 1.4rem;
      font-weight: bold;
      position: absolute;
      right: ($formWidth - $inputWidth) / 2;
      
      &:hover{
        cursor: pointer;
        background-color: rgb(96, 138, 255);
      }
    }

    div {
      width: 5rem;  
      height: 3.5rem;
      background-color: rgb(185, 207, 255);
      border-radius: 4rem;
      display: flex;
      position: absolute;
      left: ($formWidth - $inputWidth) / 2;
      
      &:hover{
        cursor: pointer;
        background-color: rgb(206, 221, 255);
        i {
          color: rgb(62, 82, 255);
        }
    }

      i{
        margin: auto;
        font-size: 2.8rem;
        color: rgb(0, 26, 255);
      }
    }
  }
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;

  .register-background {
    height: 100vh;
    width: 100%;
  }

  .register-form {
    width: 45rem;
    height: 50rem;
    position: absolute;
    background-color: $WhiteColor;
    border-radius: 1rem;
    box-shadow: 0 0.1rem 1rem 0.1rem rgba(0, 0, 0, 0.452);

    .register-form__header {
      height: 2.4rem;
      display: flex;
      align-items: center;
      margin: 2rem 0;
      padding-left: 1rem;
      position: relative;

      .register-form__seperate {
        height: 110%;
        width: 0.3rem;
        background-color: $primaryColor;
        margin-right: 0.5rem;
        position: relative;
        bottom: -0.1rem;
      }

      .register-form__title {
        font-size: 2.2rem;
      }
    }

    .reigster-form__header::after {
      content: "";
      width: calc(100% - 2rem);
      border-bottom: 0.1rem solid #ccc;
      position: absolute;
      top: 140%;
    }

    .register-form__avatar {
      height: 180px;
      display: flex;

      &-icon {
        width: 12rem;
        margin: auto;
        position: relative;
        display: flex;
        justify-content: center;
      }
    }
  }

  #regUsername,
  #regPassword,
  #regGmail,
  #regName {
    position: relative;
    flex: 1;

    input {
      font-size: 1.6rem;
      font-weight: 600;
      height: 3.5rem;
      width: 85%;
      display: block;
      margin: 1rem auto;
      padding: 0 1rem;
      border: 0;
      background-color: transparent;
      border: 0.1rem solid $borderColor;
      outline: none;
      animation: inputRegisterAndLoginAnimation linear 0.5s;

      &::placeholder {
        font-weight: 400;
      }

      &:focus {
        border: 0.2rem solid $borderColor;
        animation: inputRegisterAndLoginAnimation linear 0.5s;
      }

      @keyframes inputRegisterAndLoginAnimation {
        from {
          border: 0.1rem solid $borderColor;
        }
        to {
          border: 0.2rem solid $borderColor;
        }
      }
    }

    &.fail {
      input {
        border-color: rgb(255, 82, 82);
        color: red;
        position: relative;

        &::placeholder {
          color: rgb(255, 85, 85);
          font-weight: 400;
        }
      }
    }
  }

  #regUsername,
  #regPassword {
    flex: 1;

    input {
      width: 100%;
      margin: 0;
    }
  }

  #regUsername {
    margin-right: 5%;
  }

  .username-and-password {
    display: flex;
    width: 85%;
    justify-content: space-between;
    margin: 1rem auto;
  }

  .register-btn {
    $height: 5rem;
    display: block;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    height: $height;
    min-width: 15rem;
    background-color: $primaryColor;
    border-radius: 0.5rem;
    color: $WhiteColor;
    font-weight: bold;
    font-size: 1.8rem;

    &:hover {
      cursor: pointer;
      opacity: 0.75;
    }

    p {
      line-height: $height;
    }
  }

  //REGISTER MESSAGE
  $messageHeight: 3rem;

  .register-message {
    height: $messageHeight;
    min-width: 20rem;
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: red;
    background-color: rgb(255, 212, 212);
    border: 0.1rem solid red;
    border-radius: 0.5rem;
    padding: 0 1rem;
    position: absolute;
    top: 50%;
    transform: translate3D(0, -50%, 0);
    display: none; //flex when show
    align-items: center;

    img {
      display: inline-block;
      height: 2rem;
    }

    p {
      text-align: center;
    }

    &-name,
    &-gmail {
      left: 100%;
      margin-left: 1rem;
      animation: registerMessageAnimationRight linear 0.3s;
    }

    &-username {
      right: calc(100% + 3.4rem);
      margin-right: 1rem;
      animation: registerMessageAnimationLeft linear 0.3s;
    }

    &-password {
      left: calc(100% + 3.4rem);
      margin-left: 1rem;
      animation: registerMessageAnimationRight linear 0.3s;
    }

    //ANIMATION
    @keyframes registerMessageAnimationRight {
      from {
        opacity: 0;
        transform: translate3D(-1.5rem, -50%, 0);
      }
      to {
        opacity: 1;
        transform: translate3D(0rem, -50%, 0);
      }
    }
    @keyframes registerMessageAnimationLeft {
      from {
        opacity: 0;
        transform: translate3D(1.5rem, -50%, 0);
      }
      to {
        opacity: 1;
        transform: translate3D(0rem, -50%, 0);
      }
    }
  }
}

.body {
  margin: 0 auto;

  &__slide-show {
    height: calc(100vh - 6rem);
  }
}

// ---- PROFILE
.profile.grid {
  margin-top: 2rem;

  .profile-container {
    &__avatar {
      &-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-img {
          height: 20rem;
          width: 20rem;
          margin-top: 5rem;
          border-radius: 50%;
          border: 0.2rem solid rgb(51, 67, 85);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          position: relative;
          overflow: hidden;

          &-hover {
            display: none;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: rgba(51, 51, 51, 0.4);
            position: absolute;
            top: 0;
            left: 0;

            i {
              font-size: 5rem;
              color: $iconWhiteColor;
              position: absolute;
              bottom: 2rem;
              left: 50%;
              transform: translateX(-50%);
            }
          }

          &:hover {
            .profile-container__avatar-container-img-hover {
              display: block;
              cursor: pointer;
            }
          }

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }

        &-name,
        &-gmail {
          text-align: center;
          word-wrap: break-word;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          display: -webkit-box;

          &:hover {
            -webkit-line-clamp: 10;
          }
        }

        &-name {
          width: 70%;
          font-size: 1.6rem;
          line-height: 1.6rem;
          margin-top: 1.4rem;
        }

        &-gmail {
          margin-top: 0.2rem;
          width: 80%;
          opacity: 0.6;
          font-size: 1.4rem;
        }

        &-upload-avatar {
          &-input {
            display: none;
          }

          button {
            outline: none;
            border: 0;
            font-size: 1.4rem;
            color: $primaryColor;
            margin-top: 0.5rem;
            padding: 0.5rem 1rem;
            border: 0.1rem solid $borderColor;

            &:hover {
              color: rgb(255, 255, 255);
              background-color: rgb(157, 0, 219);
              cursor: pointer;
            }
          }
        }
      }
    }

    &__infomation {
      border-left: 0.1rem solid $borderColor;

      &-container {
        margin: 0 auto;
        width: 90%;
        height: 50rem;

        &-title {
          max-width: 100%;
          font-size: 3rem;
          font-weight: 500;
          margin-top: 1rem;
          margin: 0.5rem 0 1.5rem 1rem;
          display: block;
        }

        &-form-change {
          margin-top: 5rem;
          display: flex;
          flex-direction: column;

          label {
            width: 100%;
            font-size: 1.6rem;
            display: block;
            margin-top: 2rem;
            margin-left: 0.5rem;
          }

          input {
            font-size: 1.5rem;
            height: 3.8rem;
            width: 94%;
            padding-left: 1rem;
            outline: none;
            border: 0.2rem solid #ccc;
            border-radius: 0.5rem;

            &:focus {
              border: 0.2rem solid $primaryColor;
            }
          }

          button {
            margin-top: 3rem;
            margin-right: 3rem;
            width: 12rem;
            height: 4rem;
            background-color: rgb(35, 211, 255);
            font-size: 1.6rem;
            font-weight: 600;
            border: 0;
            border-radius: 0.25rem;
            align-self: flex-end;
          }

          button:hover {
            background-color: rgb(110, 226, 255);
            cursor: pointer;
          }
        }
      }
    }
  }
}
