@import "_variables", "base", "grid";

::-webkit-scrollbar {
  width: 0.7rem;
  color: red;
  border-radius: 1rem;
}

::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: rgb(144, 144, 144);
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(214, 178, 111);
}

html {
  font-size: 62.5%;
  font-family: "Baloo Paaji 2", cursive;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.message {
  //VARIABLES
  $btnHeight: 3rem;
  $messageWidth: 40rem;
  $messageMaxHeight: 16rem;
  $messageSeperate: $headerHeight / 3;
  $messageTransitionYBefore: -$messageMaxHeight - 2rem;
  $messageTransitionYAfter: 0;
  $btnSeperate: 1rem;
  $viewWidth: 100vw;

  //ANIMATION
  &-show {
    animation: showMessage linear 0.5s;
    transform: translate3D(-$messageWidth / 2, $messageTransitionYAfter, 0);

    @keyframes showMessage {
      from {
        opacity: 0;
        transform: translate3D(
          -$messageWidth / 2,
          $messageTransitionYBefore,
          0
        );
      }
      to {
        opacity: 1;
        transform: translate3D(-$messageWidth / 2, $messageTransitionYAfter, 0);
      }
    }
  }
  &-hidden {
    animation: hiddenMessage linear 0.5s;
    transform: translate3D(-$messageWidth / 2, $messageTransitionYBefore, 0);

    @keyframes hiddenMessage {
      from {
        opacity: 1;
        transform: translate3D(-$messageWidth / 2, $messageTransitionYAfter, 0);
      }
      to {
        opacity: 0;
        transform: translate3D(
          -$messageWidth / 2,
          $messageTransitionYBefore,
          0
        );
      }
    }
  }

  width: $messageWidth;
  max-height: $messageMaxHeight;
  position: fixed;
  z-index: 100;
  left: 50%;
  transform: translate3D(-$messageWidth / 2, $messageTransitionYBefore, 0);
  top: $headerHeight / 3;
  background-color: $whiteColor;
  border-radius: 1rem;
  box-shadow: 0 0.1rem 1.5rem 0.5rem rgba(0, 0, 0, 0.466);
  overflow: hidden;
  display: flex;

  flex-direction: column;
  align-items: stretch;

  &-title {
    width: 100%;
    min-height: 3rem;
    line-height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
    background-color: #9c58c8;

    p {
      font-size: 1.8rem;
      color: rgb(255, 255, 255);
    }
  }

  &-content {
    $fontSize: 1.7rem;

    min-height: 4rem;
    max-height: $fontSize * 4;
    display: flex;
    margin-bottom: $btnHeight + $btnSeperate;
    overflow: hidden;

    p {
      font-size: $fontSize;
      color: $textColor;
      margin: auto;
    }
  }

  &-close-btn {
    width: 10rem;
    height: $btnHeight;
    font-size: 1.6rem;
    color: $whiteColor;
    border: 0;
    background-color: rgb(164, 33, 168);
    border-radius: 0.25rem;
    position: absolute;
    bottom: $btnSeperate;
    right: $btnSeperate;

    &:hover {
      background-color: rgb(140, 29, 144);
      cursor: pointer;
    }
  }
}




