@import '_variables', 'base', 'grid';

::-webkit-scrollbar {
   width: .7rem;
   color: red;
   border-radius: 1rem;
}

::-webkit-scrollbar-track {
   background: rgb(255, 255, 255); 
   border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
   border-radius: 1rem;
   background: rgb(144, 144, 144);
}
::-webkit-scrollbar-thumb:hover {
   background: rgb(214, 178, 111); 
}

html{
   font-size: 62.5%;
   font-family: 'Open Sans', sans-serif;
}

*{ 
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

.header-layout{
   height: $headerHeight;
}

.header{
   height: $headerHeight;
   background-color: $primaryColor;
   position: fixed;
   z-index: 3;
   top: 0;
   left: 0;
   border: .1rem solid #ab2cff;

   a{
      text-decoration: none;
      color: $WhiteColor;
   }
   
   //Right and Left
   .header__border-left,
   .header__border-right {
      width: 14px;
      height: 14px;
      overflow: hidden;
      position: absolute;
   }
   .header__border-right:before,
   .header__border-left:before {
      content: "";
      display: block;
      width: 200%;
      height: 200%;
      position: absolute;
      border-radius: 50%;
      top: 0;
   }
   //Left
   .header__border-left{
      left: -.1rem;
   }
   .header__border-left:before{
      left: 0;
      box-shadow: -7px -7px 0 0 $primaryColor;
   }
   //Right
   .header__border-right{
      right: -.1rem;
   }
   .header__border-right:before{
      right: 0;
      box-shadow: 7px -7px 0 0 $primaryColor;
   }
}

.header-container.grid.wide{
   height: 100%;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: space-between;

   .row{
      display: flex;
      justify-content: space-between;
      width: 100%;
   }

   //Header Left
   .header-container__left{
      display: flex;
      align-items: center;
      text-decoration: none;
      height: 100%;

      .header-container-left__search-bar-icon{
         height: 4rem;
         width: 4rem;
         font-size: 2.8rem;
         color:rgb(173, 245, 255);
         background-color: rgb(101, 0, 168);
         margin-left: 3rem;
         padding: .8rem;
         border-radius: 50%;
         cursor: pointer;
      }

      @keyframes showSearchBar {
         from {
            opacity: 0;
            transform: translateX(-7rem);
         } to {
            opacity: 1;
            transform: translateX(0);
         }
      }

      @keyframes hideSearchBar {
         from {
            opacity: 1;
            transform: translateX(0);
         } to {
            opacity: 0;
            transform: translateX(-7rem);
         }
      }

      .header-container-left__search-bar{
         height: 3.6rem;
         margin-left: 3rem;
         border-radius: 2rem;
         border: 0;
         outline: none;
         padding: 0 1rem;
         font-size: 1.4rem;
         font-weight: 600;
         background-color: rgb(235, 235, 235);
         animation: showSearchBar linear 300ms;
         display: none;
         cursor: pointer;

         &:focus{
            box-shadow: 0 0 .3rem .3rem #be5bff;
         }
      }
   }

   a{
      display: flex;
      align-items: center;

      .header-container__logo{
         color: $iconWhiteColor;
         font-size: 3rem;
         padding: 1.4rem;
      }
      .header-container__logo-title{
         color: $WhiteColor;
         font-size: 1.6rem;
         letter-spacing: 3px;
      }
   }

   //Header - Right
   .header-container__right{
      display: flex;
      align-items: center;
   }
   .header-container-right__account{
      display: flex;
      align-items: center;
      margin-right: 1.4rem;

      .avatar-container{
         $height: 3rem;
         $min-width: 10rem;
         $max-width: 20rem;
         display: flex;
         align-items: center;
         height: $height;
         min-width: $min-width; 
         max-width: $max-width;
         white-space: nowrap;
         text-overflow: ellipsis;
         background-color: rgb(255, 255, 255);
         border-radius: 5rem;
         position: relative;

         .name{
            $margin-size: $height + 1rem;
            height: 1.2rem;
            line-height: 1.2rem;
            min-width: $min-width - $height;
            max-width: $max-width - $height - 2rem;
            color: $textColor;
            font-size: 1.2rem;
            margin: 0 $margin-size 0 1rem;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            text-overflow: ellipsis;
         }
   
         .avatar{
            font-size: $height;
            color: $primaryColor;
            padding: 0.2rem;
            position: absolute;
            right: -.3rem;
         }   

         .avatar-container--hover{
            background-color: $WhiteColor;
            width: 100%;
            justify-self: center;
            list-style: none;
            position: absolute;
            top: 100%;
            right: 3rem;
            margin-top: 1rem;
            display: none;

            .avatar-container__item{
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: center;

               .avatar-container-item__title{
                  display: block;
                  height: 4rem;
                  width: 100%;
                  background-color: rgb(0, 255, 136);
                  color: $textColor;
                  line-height: 4rem;
                  text-align: center;
               }
            }
         }

         .avatar-container--hover::after{
            content: '';
            height: 1rem;
            width: 100%;
            position: absolute;
            bottom: 100%;
         }
         
         .avatar-container--hover::before{
            content: '';
            width: 0;
            height: 0;
            border-bottom: 1rem solid rgb(0, 255, 136);;
            border-left: 1rem solid transparent;
            position: absolute;
            bottom: 100%;
            right: 0;
         }
      }

      .avatar-container:hover .avatar-container--hover{
         display: block
      }

      .header-container-right__account-login{
         border-right: .2rem solid rgba(255, 255, 255, 0.555);
      }
      a{
         padding: 0 0.5rem;
         font-size: 1.3rem;
      }
   }
}

.login,
.register{
   display: flex;
   justify-content: center;
   align-items: center;

   .login-background{
      height: 100vh;
      width: 100%;
      filter: blur(0.3rem);
      background-image: url('/img/login_background.jpg');
      background-position: center;
      background-size: cover;
   }

   .register-background{
      height: 100vh;
      width: 100%;
      filter: blur(1rem);
      background-image: url('/img/register_background.jpg');
      background-position: left;
      background-size: cover;
   }

   .login-form,
   .register-form{
      width: 45rem;
      height: 50rem;
      position: absolute;
      background-color: $WhiteColor;
      border-radius: 1rem;
      box-shadow: 0 .1rem 1rem .1rem rgba(0, 0, 0, 0.452);

      .login-form__header,
      .register-form__header{
         height: 2.4rem;
         display: flex;
         align-items: center;
         margin: 2rem 0 ;
         padding-left: 1rem;
         position: relative;

         .login-form__seperate,
         .register-form__seperate{
            height: 110%;
            width: 0.3rem;
            background-color: $primaryColor;
            margin-right: 0.5rem;
            position: relative;
            bottom: -0.1rem;
         }

         .login-form__title,
         .register-form__title{
            font-size: 2.2rem;
         }
      }

      .login-form__header::after,
      .reigster-form__header::after{
         content: '';
         width: calc(100% - 2rem);
         border-bottom: 0.1rem solid #ccc;
         position: absolute;
         top: 140%
      }

      .login-form__avatar,
      .register-form__avatar{
         height: 180px;
         display: flex;

         &-icon{
            width: 12rem;
            margin: auto;
            position: relative;
            display: flex;
            justify-content: center;
         }
      }
   }
   
   #logUsername, #logPassword,
   #regUsername, #regPassword, #regGmail, #regName{
      height: 3.5rem;
      width: 85%;
      display: block;
      margin: 1rem auto;
      border: 0;
      border-bottom: 0.1rem solid $primaryColor;
      outline: none;
   }

   #regUsername, #regPassword{
      width: 50%;
      display: inline-block;
   }

   #regUsername{
      margin-right: 5%;
   }

   .username-and-password{
      display: flex;
      width: 85%;
      justify-content: center;
      margin: 0 auto;
   }

   .login-btn,
   .register-btn{
      $height: 5rem;
      display: block;
      margin-top: 4rem;
      margin-left: auto;
      margin-right: auto;
      height: $height;
      min-width: 15rem;
      background-color: $primaryColor;
      border-radius: 0.5rem;
      color: $WhiteColor;
      font-weight: bold;
      font-size: 1.8rem;
      p{
         line-height: $height;
      }
   }
}


.body{
   margin: 0 auto;

   &__slide-show{
      height: calc(100vh - 6rem)
   }
}


// ---- PROFILE
.profile.grid{
   margin-top: 2rem;

   .profile-container{

      &__avatar{

         &-container{
            display: flex;
            flex-direction: column;
            align-items: center;

            &-img{
               height: 15rem;
               margin-top: 5rem;
               border-radius: 50%;
               border: .2rem solid rgb(51, 67, 85);
            }

            &-name, &-gmail{
               text-align: center;
               word-wrap: break-word;
               -webkit-line-clamp: 2;
               -webkit-box-orient: vertical;
               overflow: hidden;
               display: -webkit-box;
            }
   
            &-name{
               margin-top: 1rem;
               width: 70%;
               font-size: 1.6rem;
            }
   
            &-gmail{
               margin-top: .2rem;
               width: 80%;
               opacity: .6;
               font-size: 1.4rem;
            }
         }
      }

      &__infomation{
         @include borderLeftAndRight;
      
         &-container{
            height: 50rem;

            &-title{
               max-width: 100%;
               font-size: 2.4rem;
               font-weight: 500;
               margin-top: 1rem;
               padding: 1.5rem 0 1.5rem 1rem;
               display: block;
            }
         }
      }

      &__others{

      }
   }
}

// NONE PROFILE
.profile--none.grid{
   height: calc(100vh - 6rem);
   display: flex;
   flex-direction: column;

   .row.not-found-background{
      height: 70vh;
      flex: 1;

      .col{
         display: flex;

         img{
            width: 30rem;
            margin: auto;
         }
      }
   }

   .row.not-found-content{
      padding-bottom: 7rem;

      .col{
         a{
            color: red;
            text-decoration: none;
         }

         text-align: center;
         font-size: 1.6rem;
      }
   }
}