@import "_variables", "base", "grid";

// ---- PROFILE
.profile.grid{
    margin-top: 2rem;
  
    .profile-container{
      &__avatar{
        &-container{
          display: flex;
          flex-direction: column;
          align-items: center;
  
          &-img{
            height: 20rem;
            width: 20rem;
            margin-top: 5rem;
            border-radius: 50%;
            border: 0.2rem solid rgb(51, 67, 85);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            overflow: hidden;
  
            &-hover{
              display: none;
              width: 100%;
              height: 100%;
              border-radius: 50%;
              background-color: rgba(51, 51, 51, 0.4);
              position: absolute;
              top: 0;
              left: 0;
  
              i{
                font-size: 5rem;
                color: $iconWhiteColor;
                position: absolute;
                bottom: 2rem;
                left: 50%;
                transform: translateX(-50%);
              }
            }
  
            &:hover{
              .profile-container__avatar-container-img-hover{
                display: block;
                cursor: pointer;
              }
            }
  
            img{
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }
  
          &-name,
          &-gmail{
            text-align: center;
            word-wrap: break-word;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            display: -webkit-box;
  
            &:hover{
              -webkit-line-clamp: 10;
            }
          }
  
          &-name{
            width: 70%;
            font-size: 1.6rem;
            line-height: 1.6rem;
            margin-top: 1.4rem;
          }
  
          &-gmail{
            margin-top: 0.2rem;
            width: 80%;
            opacity: 0.6;
            font-size: 1.4rem;
          }
  
          &-upload-avatar{
            &-input{
              display: none;
            }
  
            button{
              outline: none;
              border: 0;
              font-size: 1.4rem;
              color: $primaryColor;
              margin-top: 0.5rem;
              padding: 0.5rem 1rem;
              border: 0.1rem solid $borderColor;
  
              &:hover{
                color: rgb(255, 255, 255);
                background-color: rgb(157, 0, 219);
                cursor: pointer;
              }
            }
          }
        }
      }
  
      &__infomation{
        border-left: 0.1rem solid $borderColor;
  
        &-container{
          margin: 0 auto;
          width: 90%;
          height: 50rem;
  
          &-title{
            max-width: 100%;
            font-size: 3rem;
            font-weight: 500;
            margin-top: 1rem;
            margin: 0.5rem 0 1.5rem 1rem;
            display: block;
          }
  
          &-form-change{
            margin-top: 5rem;
            display: flex;
            flex-direction: column;
  
            label{
              width: 100%;
              font-size: 1.6rem;
              display: block;
              margin-top: 2rem;
              margin-left: 0.5rem;
            }
  
            input{
              font-size: 1.5rem;
              height: 3.8rem;
              width: 94%;
              padding-left: 1rem;
              outline: none;
              border: 0.2rem solid #ccc;
              border-radius: 0.5rem;
  
              &:focus{
                border: 0.2rem solid $primaryColor;
              }
            }
  
            button{
              margin-top: 3rem;
              margin-right: 3rem;
              width: 12rem;
              height: 4rem;
              background-color: rgb(35, 211, 255);
              font-size: 1.6rem;
              font-weight: 600;
              border: 0;
              border-radius: 0.25rem;
              align-self: flex-end;
            }
  
            button:hover{
              background-color: rgb(110, 226, 255);
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  