<link rel="stylesheet" href="/css/home/home.css">

<div class="body-container container-xxl">
    <div class="body-container__introduce row row-cols-1">
        <div class="body-container__introduce-contianer col px-0">
            <img class="body-container__introduce-container__background" src="img/introduce-background.jpg" alt="">

        </div>
    </div>
</div>