<div class="login">
   <div class="login-background"></div>

   <form method="post" action="/login" class="login-form">
      <div class="login-form__header">
         <div class="login-form__seperate"></div>
         <p class="login-form__title">Đăng nhập</p>
      </div>
      
      <div class="login-form__avatar">
         <img class="login-form__avatar-icon" src="svg/user.svg" alt="">
      </div>
      
      <div id="logUsername">
         <input type="text" name="username" {{#if User.username}}value="{{User.username}}"{{/if}} placeholder="Tên đăng nhập">
      </div>
      <div id="logPassword">
         <input type="password" name="password" {{#if User.password}}value="{{User.password}}"{{/if}} placeholder="Mật khẩu">
      </div>
      <button class="btn login-btn" type="submit">LOGIN</button>
   </form>
</div>
