<div class="grid wide profile--none">
    <div class="not-found-background row">
        <div class="col c-12">
            <img src="svg/not-found (1).svg" alt="">
        </div>
    </div>
    <div class="not-found-content row">
        <div class="col c-12">
            <span>Bạn chưa đăng nhập.
                <a href="/login"> NHẤN </a>
                để đăng nhập!!!
            </span>
        </div>
    </div>
</div>