<div class="register">
   <div class="register-background"></div>

   <form method="post" action="/register" class="register-form" >
      <div class="register-form__header">
         <div class="register-form__seperate"></div>
         <p class="register-form__title">Đăng ký</p>
      </div>
      
      <div class="register-form__avatar">
         {{!-- AVATAR IMAGE --}}
         <div class="register-form__avatar-icon">
            <img src="svg/add-user.svg" alt="">
         </div>
      </div>
      
      <div id="regName">
         <input type="text" name="name" placeholder="Họ và tên...">
      </div>

      <div class="username-and-password">
         <div id="regUsername" class="fail">
            <input type="text" name="username" placeholder="Tên đăng nhập..." autocomplete="off">
         </div>

         <div id="regPassword">
            <input type="password" name="password" placeholder="Mật khẩu...">
         </div>
      </div>
      <div id="regGmail">
         <input type="text"  name="gmail" placeholder="Gmail của bạn...">
      </div>
      <button class="btn register-btn" type="submit"><p>ĐĂNG KÝ</p></button>
   </form>
</div>

<script>
   const $ = document.querySelector.bind(document)
   const $$ = document.querySelectorAll.bind(document)

   let name = $('#regName')
   let currentHTMLName = $('#regName').innerHTML

   name.addEventListener('focusout', function (e) {

      if (e.target.value.length > 50) {
         name.classList.add('fail')
      } else {
         name.classList.remove('fail')
      }
   })

</script>