// <ul class="error-message-container">
//     <span class="error-message"></span>
//     <span class="error-message"></span>
// </ul>


//ERROR MESSAGE
.error-message {
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: red;
  background-color: rgb(255, 212, 212);
  border: 0.1rem solid red;
  border-radius: 0.5rem;
  padding: 0 1rem;
  display: none; //flex when show
  align-items: center;

  img {
    display: inline-block;
    height: 2rem;
  }

  p {
    padding: 1rem 0rem 1rem 1rem;
  }
}

.error-message-container {
  width: 30rem;
  border-radius: 1rem;
  position: fixed;
  right: 1rem;
  top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  span {
    margin-top: 1rem;
    animation: showErrorMessage linear 0.2s;
    display: none;

    &.hidden {
      display: none !important;
    }

    @keyframes showErrorMessage {
      from {
        transform: translateX(calc(100% + 1rem));
      }
      to {
        transform: translateX(0);
      }
    }
  }
}


//REGISTER MESSAGE
.register-message {
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: red;
  background-color: rgb(255, 212, 212);
  border: 0.1rem solid red;
  border-radius: 0.5rem;
  padding: 0 1rem;
  display: none; //flex when show
  align-items: center;

  img {
    display: inline-block;
    height: 2rem;
  }

  p {
    padding: 1rem 0rem 1rem 1rem;
  }
}

.error-message-container {
  width: 30rem;
  border-radius: 1rem;
  position: fixed;
  right: 1rem;
  top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  span {
    margin-top: 1rem;
    animation: showErrorMessage linear 0.2s;
    display: none;

    &.hidden {

      animation: hideErrorMessage linear 0.2s;
      display: none !important;
    }

    @keyframes showErrorMessage {
      from {
        transform: translateX(calc(100% + 1rem));
      }
      to {
        transform: translateX(0);
      }
    }
  }
}
