<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
   <link rel="stylesheet" href="css/grid.css">
   <link rel="stylesheet" href="css/app.css">
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@500&family=Baloo+Tamma+2&display=swap" rel="stylesheet">
   <title>Social</title>
</head>
<body>
   
   {{#if header}}
   {{>header}}
   {{/if}}

   {{{body}}}

   {{!-- message --}}
   {{#if message}}
   <div class="message">
      <span class="message-title">
         <p>Notification</p> 
      </span>

      <span class="message-content">
         <p>{{message}}</p>
      </span>

      <button class="message-close-btn">
         <p>Close</p>
      </button>
   </div>
   {{/if}}
   <script src="js/message.js"></script>
</body>
</html>