<link rel="stylesheet" href="/css/general/confirmForm.css" />

<div class="confirm">
  <div class="confirm__form">
    <div class="confirm__form__header">
      <p class="confirm__form__header__title">Xác nhận Xóa?</p>
    </div>

    <div class="confirm__form__footer">
      <img
        src="/svg/my-documents/file-delete.svg"
        class="confirm__form__footer__icon"
      />
      <div class="confirm__form__footer__right">
        <h2 class="confirm__form__footer__right__title">12.pptx</h2>
        <p class="confirm__form__footer__right__content">Bạn chắc chắn muốn Xóa
          tài liệu này?</p>
        <div class="confirm__form__footer__right__button-container">
          <button
            class="confirm__form__footer__right__button-container__cancel"
          >Xóa</button>
          <button
            class="confirm__form__footer__right__button-container__confirm"
          >Hủy</button>
        </div>
      </div>
    </div>
  </div>
</div>